/*== BACKGROUND ==*/
*::-moz-selection,
back-to-top:hover,
.main-menu > li > a::before,
.itwm-header-cart .itwm-cart-content .buttons > a:hover,
header.header-2.glass .sticky .main-menu > li.active > a,
header.header-2.glass .sticky .main-menu > li.active:hover > a,
header.header-2 .main-menu > li.active > a,
header.header-2 .main-menu > li.active:hover > a,
.widget_tagcloud .tag-cloud-wrapper a:hover,
.owl-controls .owl-page.active span,
.owl-controls .owl-page:hover span,
.s1-item .p-info nav a:hover,
.light-foot footer .widget_recent_post li:hover i,
.light-foot footer .widget_tagcloud .tag-cloud-wrapper a:hover,
.s-size a.active,
#pro-preview .item .mask i,
.p-item .pthumb .mask i:hover,
.it-entry-thumbnail .mask i:hover ,
.related-post .c-nav a:hover,
.s-post .it-entry-title:after,
.btn:hover, .btn-small:hover, 
.btn-large:hover, 
.btn-large-icon:hover,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-current,
.pagination a:after,
.text-heading.line:after,
.in-divider.circle-1:after,
.in-divider.two-colors:after,
span.dropcap4,
.li-standard.list-icons.boxed-icon li i,
.li-standard.l-number li:before,
.hor-tab.boxed-style .nav-tabs > li.active > a, 
.hor-tab.boxed-style .nav-tabs > li.active > a:hover, 
.hor-tab.boxed-style .nav-tabs > li.active > a:focus,
.tabs-left.boxed-style > .nav-tabs > li.active > a,
.tabs-right.boxed-style > .nav-tabs > li.active > a,
.planContainer .price p.bestPlanPrice,
.ig-list-icons li i:after,
.image-banner.style2:hover .mask .mask-inner h2:after,
#thumb li,
.nav-inside.owl-theme .owl-controls .owl-buttons div:hover,
.isotope-pro-list .item .p-preview .action a.add-cart:hover.
.widget .widget-title:after,
.p-item .pthumb .mask i:hover {
	background-color:#3498db !important;
	}
	
.team-member .avatar .zoom:hover,
.services-box .icon-box:before,
.widget_galery_work ul li a:after,
.main-menu > li > a:before,
.main-menu li.multi-level-menu .sub-menu li a:before, 
.main-menu li.mega-menu .inner div ul.menu li a:before,
.main-menu li.multi-level-menu .sub-menu li a:before,
.main-menu li.mega-menu .inner div ul.menu li a:before,
.main-menu li.mega-menu .inner > div h3:after,
.services-box .sb-content-wrap p:after,
.widget .widget-title:after,
.text-heading.large-head:after {
	background:#3498db;
	}	
/*== BORDER ==*/	
.widget_tagcloud .tag-cloud-wrapper a:hover,
.widget_list_products .list li a:hover img,
.widget_posts_lists ul li a:hover img,
.action-box.ab-b-border,
.action-box.ab-icon,
.s1-item .p-info nav a:hover,
.s-colors a.active,
.s-colors a:hover,
.s-size a:hover,
.s-size a.active,
.summary h2:after,
.services-box .icon-box,
.testimonials-group #client .synced li .avatar,
.ig-list-icons li .icon-base,
.direction-l .flag:before,
.direction-r .flag:before {
	border-color:#3498db;
	}
blockquote.style3,
.main-menu li.multi-level-menu .sub-menu li:hover .arrow {
	border-left-color:#3498db;
	}
.hor-tab.line-style .nav-tabs > li.active > a, 
.hor-tab.line-style .nav-tabs > li.active > a:hover, 
.hor-tab.line-style .nav-tabs > li.active > a:focus,
.main-menu li.mega-menu .inner, 
.main-menu li.multi-level-menu .sub-menu,
.main-menu li.multi-level-menu .sub-menu li ul {
	border-bottom-color:#3498db;
	}
.hor-tab.line-style.t-bottom .nav-tabs > li.active > a, 
.hor-tab.line-style.t-bottom .nav-tabs > li.active > a:hover, 
.hor-tab.line-style.t-bottom .nav-tabs > li.active > a:focus {
	border-top-color:#3498db;
	}	
	
/*== COLOR ==*/	
a:hover,
a:focus	,
.topbar ul.nav > li > a:hover,
.topbar ul.nav li .dropdown-menu a:hover,
.s-filter a:hover,
.breadcrumb a:hover,
header.dark .topbar a,
#loginBox .modal-body a,
footer .widget_recent_post li a:hover,
footer .widget_recent_post li:hover i,
.widget_nav_menu .menu li a:hover,
.widget_nav_menu .menu li.active a,
.widget_meta ul li a:hover,
.widget_archive ul li a:hover,
.widget_posts_lists ul li a:hover,
.s1-item .p-info span,
.light-foot .copyright > div a,
.style-switch a.active,
.summary .price h1,
#filters a.checked,
.post .it-entry-meta ul li a:hover,
.quote-format .quote-author:hover,
.post-meta-infos a:hover,
.post-content .tags > div a:hover,
.related-post .it-entry-content .cat:hover,
.link-format .it-entry-thumbnail a.link:hover,
.post-grid .item .s-post	.it-entry-content .readmore,
.services-box .icon-box,
.pagination a:hover,
.li-standard.l-dot li:after,
.li-standard.l-number.only-number li:before,
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus,
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus,
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus,
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus,
.planContainer .title h2,
.planContainer .price p span,
.ig-list-icons li i,
.counter-wrap i,
.panel-group .panel-default .panel-heading .panel-title a:hover,
.panel-group .panel-default .panel-heading .panel-title:hover i,
.counter-wrap i,
.main-menu li a:hover::before,
.main-menu li.active a::before ,
.main-menu li a:hover > i,
.main-menu li.active > i,
.main-menu li a:hover,
.main-menu li a:focus,
.main-menu li.active>a ,
.dl-menuwrapper li a:hover{
	color:#3498db;
	}	
	